<h1>Matt's Marketplace</h1>
<%= button_to "Home", landing_path, method: :get %>
<ul>
  <% @items.each do |item| %>
    <li>
      <%= item.name %>: <%= number_to_currency(item.price, precision: 2, unit: '$') %>
    </li>
  <% end %>
</ul>

