<p style="color: green"><%= notice %></p>
<div class="flex">
    <%= render partial: 'shared/profile_sidebar' %>
    <div class="flex-grow p-10">
      <div class="mb-10">
        <h3 class="text-4xl font-bold mb-4"> Purchase History</h3>
        <div class="py-5 grid grid-cols-2 md:grid-cols-4 gap-4">
          <% @purchases.each do |purchase|%>
              <%= render "/shared/purchasecard", purchase: purchase, item: purchase.item, path_keyword: "purchase" %>
          <% end %>
        </div>
      </div>
    </div>
</div>