<!-- app/views/pages/home.html.erb -->

<h1>Welcome to My App</h1>
<p>Use the buttons below to navigate to the items or users page.</p>

<%= button_to 'View Items', items_path, method: :get, class: 'btn btn-primary' %>
<%= button_to 'Buy Items', buyers_path, method: :get, class: 'btn btn-primary' %>
<%= button_to 'View Users', users_path, method: :get, class: 'btn btn-primary' %>
