<%= render @item %>

<div class="mt-4 flex space-x-4 justify-center items-center">
  <%= link_to "Back to items", items_path, class: "inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
  <%= button_to "Make an Offer", chats_path, method: :post, params: { chat: { seller_id: @item.user_id, item_id: @item.id } }, class: "inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500" %>
</div>
